/* Created by: Nathan Araujo
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Unit4-02-HTML-ColdHot
*/

body {
	background-color: skyblue;
}

h1 {
	background-color: rgb(255, 0, 38);
	color: hsl(0, 0%, 100%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #ff529d;
}

div {
	
  font-weight: bold;
  color: #050505;
  margin: 5px;
}

#display-results{
  background-color: #449c5a;
	font-size: 20px;
}

